{% extends "base.html" %}

{% block content %}

{% set active_page = "home" %}

<div class="row mx-md-n5">
    <h2>
        <br>
        Home is not home!
        <small class="text-muted">Without Furniture.com</small>
    </h2>
</div>
<br>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            {% for product in products %}
            <h2 class="display-5">{{product.Type}}</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
            </p>
        </div>
        <div class="bg-light box-shadow mx-auto"
             style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <img alt=""
                 class="img-fluid img-thumbnail"
                 src="https://storage.cloud.google.com/adproject_ima/11.jpg?authuser=1">
        </div>
        <div class="bg-dark box-shadow mx-auto"></div>
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">{{product.Type}}</h1>
            <h1 class="display-4 font-weight-normal">{{product.Price}}</h1>
        </div>
        <a class="btn btn-outline-secondary" href="{{ url_for ('items.get_single', value=product.id) }}">Order
            Now</a>
    </div>
</div>
<div class="product-device box-shadow d-none d-md-block"></div>
<div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
{% endfor %}
</div>
</div>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
{% endblock %}